/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: ODBCStateTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Column1;
	id: 0;
	vertical-align: top;
	size: 100px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	vertical-align: top;
	size: 200px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Header1;
	id: 2;
	background-color: #c0c0c0;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-ODBCStateTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #c0c0c0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-ODBCStateTable .Column-Column1
{
	width: 100px;
}

.TableStyle-ODBCStateTable .Column-Column2
{
	width: 200px;
}

.TableStyle-ODBCStateTable .Column-Column3
{
	
}

.TableStyle-ODBCStateTable .Head-Header1
{
	
}

.TableStyle-ODBCStateTable .HeadI-Column1-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadE-Column1-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadF-Column1-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadH-Column1-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadD-Column1-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadC-Column1-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadB-Column1-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadA-Column1-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadG-Column1-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadI-Column2-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadI-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadE-Column2-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadE-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadF-Column2-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadF-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadH-Column2-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadH-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadD-Column2-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadD-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadC-Column2-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadC-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadB-Column2-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadB-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadA-Column2-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadA-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadG-Column2-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadG-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadI-Column3-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadI-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadE-Column3-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadE-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadF-Column3-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadF-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadH-Column3-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadH-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadD-Column3-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-ODBCStateTable .HeadD-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadC-Column3-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadC-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadB-Column3-Header1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadB-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadA-Column3-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadA-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .HeadG-Column3-Header1
{
	vertical-align: top;
	font-weight: bold;
	background-color: #c0c0c0;
}

.TableStyle-ODBCStateTable .HeadG-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-ODBCStateTable .Foot-Footer1
{
	
}

.TableStyle-ODBCStateTable .FootI-Column1-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootI-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootE-Column1-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootE-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootF-Column1-Footer1
{
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootF-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootH-Column1-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .FootH-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootD-Column1-Footer1
{
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootD-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootC-Column1-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootC-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootB-Column1-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .FootB-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootA-Column1-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootA-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootG-Column1-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootG-Column1-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootI-Column2-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootI-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootE-Column2-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootE-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootF-Column2-Footer1
{
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootF-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootH-Column2-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .FootH-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootD-Column2-Footer1
{
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootD-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootC-Column2-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootC-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootB-Column2-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .FootB-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootA-Column2-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootA-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootG-Column2-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootG-Column2-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootI-Column3-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootI-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootE-Column3-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootE-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootF-Column3-Footer1
{
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootF-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootH-Column3-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .FootH-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootD-Column3-Footer1
{
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-ODBCStateTable .FootD-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootC-Column3-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootC-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootB-Column3-Footer1
{
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .FootB-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootA-Column3-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootA-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .FootG-Column3-Footer1
{
	vertical-align: top;
}

.TableStyle-ODBCStateTable .FootG-Column3-Footer1 p
{
	
}

.TableStyle-ODBCStateTable .Body-Body1
{
	
}

.TableStyle-ODBCStateTable .BodyI-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyH-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyC-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyB-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyA-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyG-Column1-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyG-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyI-Column2-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyI-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyE-Column2-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyE-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyF-Column2-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyF-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyH-Column2-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyH-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyD-Column2-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyD-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyC-Column2-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyC-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyB-Column2-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyB-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyA-Column2-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyA-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyG-Column2-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyG-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyI-Column3-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyI-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyE-Column3-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyE-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyF-Column3-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyF-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyH-Column3-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyH-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyD-Column3-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyD-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyC-Column3-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyC-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyB-Column3-Body1
{
	font-weight: normal;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #c0c0c0;
	border-right-style: solid;
}

.TableStyle-ODBCStateTable .BodyB-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyA-Column3-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyA-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-ODBCStateTable .BodyG-Column3-Body1
{
	font-weight: normal;
	vertical-align: top;
}

.TableStyle-ODBCStateTable .BodyG-Column3-Body1 p
{
	font-weight: normal;
}


